<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
  
      <%= link_to "Manoise", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"></ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @current_user %>
      <li><%= link_to "Timeline", dashboard_path %><li>
        <li><%= link_to "Followers" %><li>
        <li><%= link_to "Profile" %><li>
        <li><%= link_to "Sign out", sign_out_path, method: :delete %></li>

          </ul>
        </li>
        <% else %>
        <li><%= link_to "Sign In", sign_in_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
